:root{
    --white: #fff;
    --white-gray: #f6f8f9;
    --blue: #14aaf5;
    --green-strong: #2cc6ab;
    --red: #f00;
    --orange: #ff9b00;
    --red-light: #ec4a9d;
    --green-light: #a3d116;
}

*{
    margin: 0;
    padding: 0;
}

.logo{
    width: 8%;
    height: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.8rem;
}

#app_header{
    background-color: var(--orange);
    background-size: 100px;
}

#logo_app{
    display: inline-block;
    vertical-align:middle;
}
#name_app{
    display: inline-block;
    vertical-align:middle;
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 5px;
}



#app_main{
    background-color: var(--blue);
    min-height: 100vh;
}

.container{
    padding: 50 50 50 50px;
    width: 100%;
    margin: auto;
}
.little_container{
    background-color: #a3d116;

}

.text_xs{
    font-size: 0.8rem;
}