:root{
    --white: #fff;
    --white-gray: #f6f8f9;
    --gray: #8d8c8c;
    --blue: #14aaf5;
    --green-strong: #2cc6ab;
    --red: #f00;
    --orange: #ff9b00;
    --red-light: #ec4a9d;
    --green-light: #a3d116;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Inter, system-ui, Avenir, Arial, sans-serif;
}

.logo{
    width: 5%;
    height: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
}

#app_header{
    background-color: var(--white);
    background-size: 100px;
    padding: 0.4rem;
}

#logo_app{
    display: inline-block;
    vertical-align:middle;
}
#name_app{
    display: inline-block;
    vertical-align:middle;
    font-size: 3rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#app_main{
    background-color: var(--white-gray);
    min-height: 100vh;
    display: flex;
    justify-content: center; 
}

.container{
    width: 100%;
}

.little_containers{
    border-radius: 6px;
    background-color: var(--white); 
    width: 50%; 
    margin: auto; 
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}

.text_xs{
    font-size: 0.8rem;
}
.text_font{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pl{padding-left: 10px;}
.mr{margin-right: 7px;}
.pr{padding-right:10px}
.pb{padding-bottom: 4px;}
.mb{margin-bottom: 10px;}
.button{
    height: auto;
    width: auto;
    text-align: center;
    font-size: 15px;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#btn_addtask{
    background-color: var(--blue);
    color: var(--white);
    border: 2px solid var(--blue);
}
#btn_addsec{
    background-color: var(--white);
    color: var(--gray);
    border: 2px solid var(--gray);
    box-sizing: border-box;  /*#iclude the border within total */
}

#littlecon_up{
    margin-top: 3rem;
    padding: 20px 80px;
}
#littlecon_down{
    padding: 30px 80px;
    margin-top: 5px;
}

ul.custom_list{
    list-style: none;
    li{
        line-height: 2rem;
    }
}
.checkicon{
    border: 1px solid var(--green-light);
    border-radius: 50%;
    padding: 0.5% 1%;
    color: var(--green-light);
}
.xicon{
    border: 1px solid var(--red);
    border-radius: 50%;
    padding: 0.5% 1.3%;
    color: var(--red);
}

.type_task {
    color: white;
    font-size: 0.65rem;
    padding: 0.3rem 0.5rem;
    border-radius: 0.55rem;
}

.bg-editorial{
    background-color: var(--blue);
}
.bg-q1goals{
    background-color: purple;
}
.bg-recruiting{
    background-color: var(--green-strong);
}
.bg-mobile{
    background-color: var(--orange);
}
.bg-website{
    background-color: var(--red-light);
}
.bg-sales{
    background-color: var(--green-light);
}